body {
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #928dab,
    #00d2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #928dab,
    #00d2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-color {
  background: #9cecfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #9cecfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Resume Page css */
.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
  -webkit-box-shadow: 6px 4px 175px 1px rgba(109, 48, 112, 1);
  -moz-box-shadow: 6px 4px 175px 1px rgba(109, 48, 112, 1);
  box-shadow: 6px 4px 175px 1px rgba(109, 48, 112, 1);
  border-radius: 53px 0px 0px 0px;
  -moz-border-radius: 53px 0px 0px 0px;
  -webkit-border-radius: 53px 0px 0px 0px;
  border: 4px inset #8e21c4;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 40vh;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 55vh;
  background: white;
  color: black;
  margin-bottom: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 10px -12px 83px 17px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px -12px 83px 17px rgba(0, 0, 0, 0.35);
  box-shadow: 10px -12px 83px 17px rgba(0, 0, 0, 0.35);
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 3rem;
}

/* contact page css */

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

#avatar-landing {
  height: 250px;
  padding-top: 5em;
  text-align: center;
}
#Avatar {
  height: 250px;
  border-radius: 40px;
}
#Contact {
  font-size: 60px;
}

#Phone {
  font-size: 30px;
  font-family: "Anton";
}

#Email {
  font-size: 30px;
  font-family: "Anton";
  text-align: center;
}

.banner-text {
  -webkit-box-shadow: 10px -12px 83px 17px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px -12px 83px 17px rgba(0, 0, 0, 0.35);
  box-shadow: 10px -12px 83px 17px rgba(0, 0, 0, 0.35);
  -webkit-animation: appear 4s ease 0s 1 normal;
  animation: appear 5s ease 0s 1 normal;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@media (max-width: 1080px) {
  .projects-grid {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .banner-text h1 {
    font-size: 36px;
  }

  .banner-text p {
    color: white;
    font-size: 12px;
    padding: 1em;
  }

  .social-links i {
    font-size: 3em;
  }
  #avatar-landing {
    height: 140px;
    padding-top: 5em;
    text-align: center;
  }
  .contact-grid {
    height: 80vh;
  }
  .contact-body {
    padding-top: 3em;
  }
  .contact-list i {
    font-size: 30px;
    padding-right: 1rem;
    padding-left: 8rem;
  }
  #Avatar {
    height: 200px;
  }
  #Contact {
    font-size: 40px;
  }

  #Phone {
    font-size: 20px;
  }

  #Email {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .contact-list i {
    font-size: 30px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .contact-grid {
    height: 80vh;
  }
  #avatar-landing {
    padding-top: 1em;
  }
  #h1-landing {
    font-size: 50px;
  }
  #Avatar {
    height: 150px;
  }
  #Contact {
    font-size: 30px;
  }
}

@media (max-width: 495px) {
  .contact-list i {
    font-size: 20px;
    padding-right: 5px;
    padding-left: 10px;
  }
  #Phone {
    text-align: center;
    font-size: 20px;
  }

  #Email {
    text-align: center;
    font-size: 20px;
  }
}
